import { usePaths } from 'vitepress-openapi'
import spec from '../../spec/openapi.json' assert {type: 'json'}

export default {
    paths() {
        return usePaths({ spec })
            .getPathsByVerbs()
            .map(({ operationId, summary }) => {
                return {
                    params: {
                        operationId,
                        pageTitle: `${summary} - Owu Social API 文档`,
                    },
                }
            })
    },
}