{
  "openapi": "3.0.1",
  "info": {
    "title": "Owu Social API 文档",
    "contact": {
      "name": "GoToSocial Authors",
      "email": "admin@gotosocial.org"
    },
    "license": {
      "name": "AGPL3",
      "url": "https://www.gnu.org/licenses/agpl-3.0.en.html"
    },
    "version": "v0.17.2-SNAPSHOT-8a93300a"
  },
  "servers": [
    {
      "url": "https://scg.owu.one/"
    },
    {
      "url": "http://scg.owu.one/"
    }
  ],
  "paths": {
    "/.well-known/host-meta": {
      "get": {
        "tags": [
          ".well-known"
        ],
        "summary": "获取 host-meta",
        "description": "响应 web 主机元数据查询，返回符合规范的 hostmeta 响应。参见: https://www.rfc-editor.org/rfc/rfc6415.html",
        "operationId": "hostMetaGet",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/xrd+xml\"": {
                "schema": {
                  "$ref": "#/components/schemas/hostmeta"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/nodeinfo": {
      "get": {
        "tags": [
          ".well-known"
        ],
        "summary": "获取 nodeinfo",
        "description": "返回一个 well-known 响应，将调用者重定向到 `/nodeinfo/2.0`。\n例如: `{\"links\":[{\"rel\":\"http://nodeinfo.diaspora.software/ns/schema/2.0\",\"href\":\"http://scg.owu.one/nodeinfo/2.0\"}]}`\n参见: https://nodeinfo.diaspora.software/protocol.html",
        "operationId": "nodeInfoWellKnownGet",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/wellKnownResponse"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/webfinger": {
      "get": {
        "tags": [
          ".well-known"
        ],
        "summary": "Webfinger 账户查询",
        "description": "处理 webfinger 账户查询请求。\n例如，对 `https://scg.owu.one/.well-known/webfinger?resource=acct:admin@scg.owu.one` 发送 GET 请求，将返回：\n```\n{\"subject\":\"acct:admin@scg.owu.one\",\"aliases\":[\"https://scg.owu.one/users/admin\",\"https://scg.owu.one/@admin\"],\"links\":[{\"rel\":\"http://webfinger.net/rel/profile-page\",\"type\":\"text/html\",\"href\":\"https://scg.owu.one/@admin\"},{\"rel\":\"self\",\"type\":\"application/activity+json\",\"href\":\"https://scg.owu.one/users/admin\"}]}\n```\n参见: https://webfinger.net/",
        "operationId": "webfingerGet",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/jrd+json": {
                "schema": {
                  "$ref": "#/components/schemas/wellKnownResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/{api_version}/media": {
      "post": {
        "tags": [
          "media"
        ],
        "summary": "上传新附件",
        "description": "上传新的媒体附件。",
        "operationId": "mediaCreate",
        "parameters": [
          {
            "name": "api_version",
            "in": "path",
            "description": "要使用的 API 版本。必须是 `v1` 或 `v2`。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "type": "object",
                "properties": {
                  "description": {
                    "type": "string",
                    "description": "媒体附件的 alt 文本描述。这对于使用屏幕阅读器的用户非常有用！根据您的实例设置，可能需要也可能不需要。"
                  },
                  "focus": {
                    "type": "string",
                    "description": "媒体附件的焦点。如果存在，它应该是两个介于 -1 和 1 之间的逗号分隔的浮点数。例如：`-0.5,0.25`。",
                    "default": "0,0"
                  },
                  "file": {
                    "type": "string",
                    "description": "要上传的媒体附件。",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "新创建的媒体附件。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/attachment"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "422": {
            "description": "unprocessable 无法处理",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "write:media"
            ]
          }
        ]
      }
    },
    "/api/{api_version}/search": {
      "get": {
        "tags": [
          "search"
        ],
        "summary": "搜索",
        "description": "在本站或其他地方搜索贴文、帐户或话题标签。如果结果中包含贴文，则它们将按时间顺序（最新的在前）返回，带有连续的 ID（更大 = 更新）。",
        "operationId": "searchGet",
        "parameters": [
          {
            "name": "api_version",
            "in": "path",
            "description": "必须是 `v1` 或 `v2`。如果使用 v1，Hashtag 结果将是字符串切片。如果使用 v2，Hashtag 结果将是 apimodel 标签切片。",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_id",
            "in": "query",
            "description": "仅返回 *早于* 给定的 max ID 的项目。当前仅在将 type 设置为特定类型时使用。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_id",
            "in": "query",
            "description": "仅返回 *晚于且紧邻* 给定的 min ID 的项目。当前仅在将 type 设置为特定类型时使用。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "要返回的每种项目的数量。",
            "schema": {
              "maximum": 40,
              "minimum": 1,
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "要返回的结果的页数（从 0 开始）。该参数目前未使用，请通过选择特定的查询类型并使用 maxID 和 minID 来分页。",
            "schema": {
              "maximum": 10,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "要搜索的关键词。这可以是以下形式之一：\n- `@[username]` -- 搜索任何实例上具有给定用户名的帐户。可以返回多个结果。\n- `@[username]@[domain]` -- 精确匹配给定的用户名和实例域名的外站帐户。最多只会返回 1 个结果。\n- `https://scg.owu.one/some/arbitrary/url` -- 搜索具有给定 URL 的账户或贴文。最多只会返回 1 个结果。\n- `#[hashtag_name]` -- 搜索具有给定话题标签名称或以给定话题标签名称开头的话题标签。不区分大小写。可以返回多个结果。\n- 任意字符串 -- 搜索包含给定字符串的帐户或贴文。可以返回多个结果。\n\n任意字符串搜索可以包括以下运算符：\n- `from:localuser`，`from:remoteuser@instance.tld`：将结果限制为由指定帐户创建的贴文。",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "要返回的项目类型。可以是以下之一：\n- `` -- 空字符串；返回任何/所有结果。\n- `accounts` -- 仅返回帐户。\n- `statuses` -- 仅返回贴文。\n- `hashtags` -- 仅返回话题标签。\n如果指定了 `type`，则可以使用 max_id 和 min_id 参数进行分页。\n如果未指定 `type`，使用 `offset` 参数进行分页。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolve",
            "in": "query",
            "description": "若搜索关键词是 `@[username]@[domain]` 或 URL，则允许 GoToSocial 实例通过外站调用（webfinger、ActivityPub 等）来解析搜索关键词。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "following",
            "in": "query",
            "description": "若搜索类型包括帐户，并且搜索关键词是任意字符串，则仅显示请求帐户关注的帐户。如果设置为 `true`，则 GoToSocial 将在用户名和昵称之外同时检索账户信息来增强搜索。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "exclude_unreviewed",
            "in": "query",
            "description": "若搜索类型包括话题标签，并且搜索关键词是任意字符串，则排除尚未被实例管理员批准的话题标签。目前此参数未使用。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "account_id",
            "in": "query",
            "description": "将搜索范围限制到由指定帐户创建的贴文。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "搜索结果。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/searchResult"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "read:search"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "创建新帐户",
        "description": "使用应用程序令牌创建新帐户。\n若 Content-Type 为 `application/json`，则参数也可在请求体中以 JSON 形式给出。\n若 Content-Type 为 `application/xml`，则参数也可在请求体中以 XML 形式给出。",
        "operationId": "accountCreate",
        "parameters": [
          {
            "name": "reason",
            "in": "query",
            "description": "若注册需要手动批准，则此文本将由管理员审核。",
            "schema": {
              "type": "string",
              "x-go-name": "Reason"
            },
            "x-go-name": "Reason"
          },
          {
            "name": "username",
            "in": "query",
            "description": "账户设置的用户名。",
            "schema": {
              "type": "string",
              "x-go-name": "Username"
            },
            "x-go-name": "Username"
          },
          {
            "name": "email",
            "in": "query",
            "description": "用于登录的电子邮件地址。",
            "schema": {
              "type": "string",
              "x-go-name": "Email"
            },
            "x-go-name": "Email"
          },
          {
            "name": "password",
            "in": "query",
            "description": "用于登录的密码。将在存储之前进行哈希处理。",
            "schema": {
              "type": "string",
              "x-go-name": "Password"
            },
            "x-go-name": "Password"
          },
          {
            "name": "agreement",
            "in": "query",
            "description": "用户同意实例的条款、条件和政策。",
            "schema": {
              "type": "boolean",
              "x-go-name": "Agreement"
            },
            "x-go-name": "Agreement"
          },
          {
            "name": "locale",
            "in": "query",
            "description": "确认邮件的语言。",
            "schema": {
              "type": "string",
              "x-go-name": "Locale"
            },
            "x-go-name": "Locale"
          }
        ],
        "responses": {
          "200": {
            "description": "为新创建的帐户提供的 OAuth2 访问令牌。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/oauthToken"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "422": {
            "description": "unprocessable 无法处理. 你的帐户创建请求无法处理，因为在过去的 24 小时内在此实例上创建了太多帐户，或者待处理的帐户积压已满。",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Application": [
              "write:accounts"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/{id}": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "获取账户详情",
        "description": "获取具有给定 ID 的帐户的信息。",
        "operationId": "accountGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "请求的帐户 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "请求的帐户。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "read:accounts"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/{id}/block": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "屏蔽帐户",
        "description": "屏蔽具有给定 ID 的帐户。",
        "operationId": "accountBlock",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "要屏蔽的帐户 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "你与帐户的关系(relationship)。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountRelationship"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "write:blocks"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/{id}/follow": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "关注帐户",
        "description": "关注具有给定 ID 的帐户。\n\n若 Content-Type 为 `application/json`，则参数也可在请求体中以 JSON 形式给出。\n若 Content-Type 为 `application/xml`，则参数也可在请求体中以 XML 形式给出。\n\n若您已经关注了给定的帐户，则关注(请求)将被更新，不会使用 `reblogs` 和 `notify` 参数。",
        "operationId": "accountFollow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "要关注的帐户 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reblogs": {
                    "type": "boolean",
                    "description": "显示此帐户的转发。",
                    "default": true
                  },
                  "notify": {
                    "type": "boolean",
                    "description": "该账户发帖时通知。",
                    "default": false
                  }
                }
              }
            },
            "application/xml": {
              "schema": {
                "type": "object",
                "properties": {
                  "reblogs": {
                    "type": "boolean",
                    "description": "显示此帐户的转发。",
                    "default": true
                  },
                  "notify": {
                    "type": "boolean",
                    "description": "该账户发帖时通知。",
                    "default": false
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "reblogs": {
                    "type": "boolean",
                    "description": "显示此帐户的转发。",
                    "default": true
                  },
                  "notify": {
                    "type": "boolean",
                    "description": "该账户发帖时通知。",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "你与此帐户的关系(relationship)。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountRelationship"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "write:follows"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/{id}/followers": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "查看粉丝",
        "description": "查看关注此帐户的帐户。\n下一个/上一个查询可以从返回的 Link 标头中解析。\n例如：\n\n```\n<https://scg.owu.one/api/v1/accounts/0657WMDEC3KQDTD6NZ4XJZBK4M/followers?limit=80&max_id=01FC0SKA48HNSVR6YKZCQGS2V8>; rel=\"next\", <https://scg.owu.one/api/v1/accounts/0657WMDEC3KQDTD6NZ4XJZBK4M/followers?limit=80&min_id=01FC0SKW5JK2Q4EVAV2B462YY0>; rel=\"prev\"\n```\n若帐户 `hide_collections` 为 true，且请求帐户 != 目标帐户，则不会返回结果。",
        "operationId": "accountFollowers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "帐户 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_id",
            "in": "query",
            "description": "仅返回早于给定的max ID 的粉丝帐户。具有指定 ID 的粉丝帐户不会包含在响应中。注意：ID 是内部关注的 ID，而不是任何返回的帐户的 ID。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since_id",
            "in": "query",
            "description": "仅返回晚于给定的 since ID 的粉丝帐户。具有指定 ID 的粉丝帐户不会包含在响应中。注意：ID 是内部关注的 ID，而不是任何返回的帐户的 ID。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_id",
            "in": "query",
            "description": "仅返回 *晚于且紧邻* 给定的 min ID 的粉丝帐户。具有指定 ID 的粉丝帐户不会包含在响应中。注意：ID 是内部关注的 ID，而不是任何返回的帐户的 ID。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "要返回的粉丝帐户数量。",
            "schema": {
              "maximum": 80,
              "minimum": 1,
              "type": "integer",
              "default": 40
            }
          }
        ],
        "responses": {
          "200": {
            "description": "一个关注此帐户的帐户的数组。",
            "headers": {
              "Link": {
                "description": "指向下一/上一查询的链接。",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/account"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "read:accounts"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/{id}/following": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "查看关注",
        "description": "查询此ID对应的帐户关注的帐户。\n下一个/上一个查询可以从返回的 Link 标头中解析。\n示例:\n```\n<https://scg.owu.one/api/v1/accounts/0657WMDEC3KQDTD6NZ4XJZBK4M/following?limit=80&max_id=01FC0SKA48HNSVR6YKZCQGS2V8>; rel=\"next\", <https://scg.owu.one/api/v1/accounts/0657WMDEC3KQDTD6NZ4XJZBK4M/following?limit=80&min_id=01FC0SKW5JK2Q4EVAV2B462YY0>; rel=\"prev\"\n```\n若帐户 `hide_collections` 为 true，且请求帐户 != 目标帐户，则不会返回结果。",
        "operationId": "accountFollowing",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Account ID.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "max_id",
            "in": "query",
            "description": "仅返回早于给定的 max ID 的关注帐户。具有指定 ID 的关注帐户不会包含在响应中。注意：ID 是内部关注的 ID，而不是任何返回的帐户的 ID。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "since_id",
            "in": "query",
            "description": "仅返回晚于给定的 since ID 的关注帐户。具有指定 ID 的关注帐户不会包含在响应中。注意：ID 是内部关注的 ID，而不是任何返回的帐户的 ID。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_id",
            "in": "query",
            "description": "仅返回 *晚于且紧邻* 给定的 min ID 的关注帐户。具有指定 ID 的关注帐户不会包含在响应中。注意：ID 是内部关注的 ID，而不是任何返回的帐户的 ID。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "要返回的关注帐户数量。",
            "schema": {
              "maximum": 80,
              "minimum": 1,
              "type": "integer",
              "default": 40
            }
          }
        ],
        "responses": {
          "200": {
            "description": "此账户关注的账户数组。",
            "headers": {
              "Link": {
                "description": "指向下一/上一查询的链接。",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/account"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "read:accounts"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/{id}/lists": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "查看列表",
        "description": "查看你的列表中包含此帐户的所有列表。",
        "operationId": "accountLists",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "账户 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "一个包含此帐户的所有列表的数组。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/list"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "read:lists"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/{id}/mute": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "静音/隐藏帐户",
        "description": "根据 ID 静音/隐藏帐户。若此账户已被静音/隐藏，则无论如何都会成功。这可以用来更新静音/隐藏的细节。",
        "operationId": "accountMute",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "要静音/隐藏的帐户 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "notifications": {
                    "type": "boolean",
                    "description": "在静音/隐藏贴文的同时也静音/隐藏通知。",
                    "default": false
                  },
                  "duration": {
                    "type": "number",
                    "description": "静音/隐藏持续时间，以秒为单位。如果为 0 或未提供，则静音/隐藏持续时间无限。",
                    "default": 0
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "你与此帐户的关系(relationship)。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountRelationship"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "403": {
            "description": "禁止对已迁移的账户设置静音/隐藏",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "write:mutes"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/{id}/note": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "设置备注",
        "description": "为具有给定 ID 的帐户设置私人备注。",
        "operationId": "accountNote",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "备注要添加到的帐户的 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "comment": {
                    "type": "string",
                    "description": "备注的文本。省略此参数或发送空字符串以清除备注。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "你与此账户的关系(relationship)。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountRelationship"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "write:accounts"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/{id}/statuses": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "查看贴文",
        "description": "查看指定账户的贴文。贴文将按时间顺序（最新的在前）返回，带有连续的 ID（更大 = 更新）。",
        "operationId": "accountStatuses",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "账户 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "要返回的贴文数量。",
            "schema": {
              "type": "integer",
              "default": 30
            }
          },
          {
            "name": "exclude_replies",
            "in": "query",
            "description": "排除回复。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "exclude_reblogs",
            "in": "query",
            "description": "排除转发。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "max_id",
            "in": "query",
            "description": "仅返回 *早于* 给定的 max status ID 的项目。当前仅在将 type 设置为特定类型时使用。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_id",
            "in": "query",
            "description": "仅返回 *晚于* 给定的 min status ID 的项目。当前仅在将 type 设置为特定类型时使用。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pinned",
            "in": "query",
            "description": "仅显示置顶的贴文。即排除未置顶到给定帐户 ID 的贴文。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "only_media",
            "in": "query",
            "description": "仅显示带有媒体附件的贴文。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "only_public",
            "in": "query",
            "description": "仅显示具有“公开”可见性的贴文。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "贴文的数组。",
            "headers": {
              "Link": {
                "description": "下一/上一查询的链接。",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/status"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "read:accounts"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/{id}/unblock": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "解除屏蔽账户",
        "description": "解除对给定 ID 的帐户的屏蔽。",
        "operationId": "accountUnblock",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "要解除屏蔽的帐户 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "你与此账户的关系(relationship)。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountRelationship"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "write:blocks"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/{id}/unfollow": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "取关账户",
        "description": "取消关注具有给定 ID 的帐户。",
        "operationId": "accountUnfollow",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "要取消关注的帐户 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "你与此账户的关系(relationship)。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountRelationship"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "write:follows"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/{id}/unmute": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "取消静音/隐藏账户",
        "description": "解除对给定 ID 的帐户的静音/隐藏。若账户已被解除静音/隐藏，则无论如何都会成功。",
        "operationId": "accountUnmute",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "要解除静音/隐藏的帐户 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "你与此账户的关系(relationship)。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/accountRelationship"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "write:mutes"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/alias": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "设置账户别名",
        "description": "通过将 alsoKnownAs 设置为给定的 URI，将此账户设置为另一个账户的别名。\n\n在需要将其它账户迁移到此账户时很有用。\n\n在这种情况下，你应该将此账户的 alsoKnownAs 设置为要发起迁移的账户的 URI。",
        "operationId": "accountAlias",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "also_known_as_uris"
                ],
                "type": "object",
                "properties": {
                  "also_known_as_uris": {
                    "type": "string",
                    "description": "要设为别名的账户的 ActivityPub URI/ID。例如，`[\"https://scg.owu.one/users/some_account\"]`。\n使用空数组也可以清除 alsoKnownAs，清除账户别名。"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "更新后的账户。",
            "content": {
              "*/*": {
                "schema": {
                  "$ref": "#/components/schemas/account"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "422": {
            "description": "unprocessable 无法处理。请查看响应正文以获取更多详细信息。",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "write:accounts"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/delete": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "删除账户",
        "operationId": "accountDelete",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "password"
                ],
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "账户的密码，用于确认。"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "账户删除请求已被接受，账户将被删除。",
            "content": {}
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "write:accounts"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/lookup": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "快速查找账户",
        "description": "快速查找用户名以查看其是否可用，跳过 WebFinger 解析。",
        "operationId": "accountLookupGet",
        "parameters": [
          {
            "name": "acct",
            "in": "query",
            "description": "要查询的用户名或 Webfinger 地址。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "查询结果。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "read:accounts"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/move": {
      "post": {
        "tags": [
          "accounts"
        ],
        "summary": "迁出账户",
        "description": "将此账户迁移到另一个账户。",
        "operationId": "accountMove",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "moved_to_uri",
                  "password"
                ],
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "description": "账户的密码，用于确认。"
                  },
                  "moved_to_uri": {
                    "type": "string",
                    "description": "目标账户的 ActivityPub URI/ID。例如，`https://scg.owu.one/users/some_account`。目标账户必须也是请求账户的 alsoKnownAs，才能成功迁移。"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "202": {
            "description": "账户迁移请求已被接受，账户将被迁移。",
            "content": {}
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "422": {
            "description": "unprocessable 无法处理。请查看响应正文以获取更多详细信息。",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "write:accounts"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/relationships": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "查询账户关系",
        "description": "查看你的账户与给定账户 ID 的关系。",
        "operationId": "accountRelationships",
        "parameters": [
          {
            "name": "id[]",
            "in": "query",
            "description": "账户 ID。",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "账户关系(relationship)的数组。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/accountRelationship"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "read:accounts"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/search": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "搜索账户",
        "description": "搜索具有给定用户名或昵称的帐户。",
        "operationId": "accountSearchGet",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "要返回的结果数量。",
            "schema": {
              "maximum": 80,
              "minimum": 1,
              "type": "integer",
              "default": 40
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "要返回的结果所在的页数（从 0 开始）。此参数目前未使用，偏移量大于 0 将始终返回 0 个结果。",
            "schema": {
              "maximum": 10,
              "minimum": 0,
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "q",
            "in": "query",
            "description": "要查找的关键词。可以是以下形式之一：\n- `@[username]` -- 在任何实例上搜索具有给定用户名的帐户。可以返回多个结果。\n- `@[username]@[domain]` -- 搜索确切的用户名和域名的外站帐户。最多只返回 1 个结果。\n- 任意字符串 -- 搜索用户名或昵称中包含给定字符串的帐户。可以返回多个结果。",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "resolve",
            "in": "query",
            "description": "若关键词为 `@[username]@[domain]` 或 URL，允许 GoToSocial 实例通过调用外站实例（webfinger、ActivityPub 等）来解析搜索。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "following",
            "in": "query",
            "description": "只显示发起请求的账户关注的账户。如果设置为 `true`，则 GoToSocial 实例将在用户名和昵称之外，同时在账户信息中发起搜索，来增强搜索结果。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "搜索结果。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/account"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "read:accounts"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/themes": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "查看主题",
        "description": "查看此实例上可用于账户的预设 CSS 主题。",
        "operationId": "accountThemes",
        "responses": {
          "200": {
            "description": "主题的数组。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/theme"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "read:accounts"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/update_credentials": {
      "patch": {
        "tags": [
          "accounts"
        ],
        "summary": "更新账户信息",
        "description": "更新你的账户信息。",
        "operationId": "accountUpdate",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "discoverable": {
                    "type": "boolean",
                    "description": "账户是否可被发现，并在用户名录中显示。"
                  },
                  "bot": {
                    "type": "boolean",
                    "description": "账户被标记为机器人。"
                  },
                  "display_name": {
                    "type": "string",
                    "description": "账户的昵称。"
                  },
                  "note": {
                    "type": "string",
                    "description": "账户的简介。"
                  },
                  "avatar": {
                    "type": "string",
                    "description": "账户的头像。",
                    "format": "binary"
                  },
                  "avatar_description": {
                    "type": "string",
                    "description": "账户的头像描述，用于 alt 文本。"
                  },
                  "header": {
                    "type": "string",
                    "description": "用户的资料页横幅背景。",
                    "format": "binary"
                  },
                  "header_description": {
                    "type": "string",
                    "description": "用户资料页横幅背景的描述，用于 alt 文本。"
                  },
                  "locked": {
                    "type": "boolean",
                    "description": "关注请求需要手动批准。"
                  },
                  "source[privacy]": {
                    "type": "string",
                    "description": "撰写的贴文的默认可见性。"
                  },
                  "source[sensitive]": {
                    "type": "boolean",
                    "description": "将撰写的贴文默认标记为敏感。"
                  },
                  "source[language]": {
                    "type": "string",
                    "description": "撰写的贴文的默认语言 (ISO 6391)。"
                  },
                  "source[status_content_type]": {
                    "type": "string",
                    "description": "撰写的贴文的默认内容类型 (text/plain 或 text/markdown)。"
                  },
                  "theme": {
                    "type": "string",
                    "description": "渲染此帐户的资料页或贴文时要使用的主题的文件名。主题必须存在于此服务器上，如 /api/v1/accounts/themes 所示。空字符串意味着取消主题偏好并回退到 GoToSocial 默认主题。"
                  },
                  "custom_css": {
                    "type": "string",
                    "description": "渲染此帐户的资料页或贴文时要使用的自定义 CSS。字符串长度不能超过 5,000 个字符（~5kb）。"
                  },
                  "enable_rss": {
                    "type": "boolean",
                    "description": "为此帐户的公开贴文启用 RSS 订阅，端点为 `/[username]/feed.rss`。"
                  },
                  "hide_collections": {
                    "type": "boolean",
                    "description": "隐藏此帐户的关注/粉丝信息。"
                  },
                  "web_visibility": {
                    "type": "string",
                    "description": "Posts to show on the web view of the account.\n\"public\": default, show only Public visibility posts on the web.\n\"unlisted\": show Public *和* Unlisted visibility posts on the web.\n\"none\": show no posts on the web, not even Public ones.\n要在网页端展示的贴文范围。\n\"public\": 默认，只在网页上显示公开的贴文。\n\"unlisted\": 在网页上显示可见性为公开 *和* 不列出的贴文。\n\"none\": 在网页上不显示任何贴文，甚至不显示公开的贴文。"
                  },
                  "fields_attributes[0][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第一个资料字段的名称。 （索引可以是任何字符串；添加更多索引以发送更多字段。）"
                  },
                  "fields_attributes[0][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第一个资料字段的值。 （索引可以是任何字符串；添加更多索引以发送更多字段。）"
                  },
                  "fields_attributes[1][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第二个资料字段的名称。"
                  },
                  "fields_attributes[1][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第二个资料字段的值。"
                  },
                  "fields_attributes[2][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第三个资料字段的名称。"
                  },
                  "fields_attributes[2][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第三个资料字段的值。"
                  },
                  "fields_attributes[3][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第四个资料字段的名称。"
                  },
                  "fields_attributes[3][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第四个资料字段的值。"
                  },
                  "fields_attributes[4][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第五个资料字段的名称。"
                  },
                  "fields_attributes[4][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第五个资料字段的值。"
                  },
                  "fields_attributes[5][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第六个资料字段的名称。"
                  },
                  "fields_attributes[5][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第六个资料字段的值。"
                  }
                }
              }
            },
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "discoverable": {
                    "type": "boolean",
                    "description": "账户是否可被发现，并在用户名录中显示。"
                  },
                  "bot": {
                    "type": "boolean",
                    "description": "账户被标记为机器人。"
                  },
                  "display_name": {
                    "type": "string",
                    "description": "账户的昵称。"
                  },
                  "note": {
                    "type": "string",
                    "description": "账户的简介。"
                  },
                  "avatar": {
                    "type": "string",
                    "description": "账户的头像。",
                    "format": "binary"
                  },
                  "avatar_description": {
                    "type": "string",
                    "description": "账户的头像描述，用于 alt 文本。"
                  },
                  "header": {
                    "type": "string",
                    "description": "用户的资料页横幅背景。",
                    "format": "binary"
                  },
                  "header_description": {
                    "type": "string",
                    "description": "用户资料页横幅背景的描述，用于 alt 文本。"
                  },
                  "locked": {
                    "type": "boolean",
                    "description": "关注请求需要手动批准。"
                  },
                  "source[privacy]": {
                    "type": "string",
                    "description": "撰写的贴文的默认可见性。"
                  },
                  "source[sensitive]": {
                    "type": "boolean",
                    "description": "将撰写的贴文默认标记为敏感。"
                  },
                  "source[language]": {
                    "type": "string",
                    "description": "撰写的贴文的默认语言 (ISO 6391)。"
                  },
                  "source[status_content_type]": {
                    "type": "string",
                    "description": "撰写的贴文的默认内容类型 (text/plain 或 text/markdown)。"
                  },
                  "theme": {
                    "type": "string",
                    "description": "渲染此帐户的资料页或贴文时要使用的主题的文件名。主题必须存在于此服务器上，如 /api/v1/accounts/themes 所示。空字符串意味着取消主题偏好并回退到 GoToSocial 默认主题。"
                  },
                  "custom_css": {
                    "type": "string",
                    "description": "渲染此帐户的资料页或贴文时要使用的自定义 CSS。字符串长度不能超过 5,000 个字符（~5kb）。"
                  },
                  "enable_rss": {
                    "type": "boolean",
                    "description": "为此帐户的公开贴文启用 RSS 订阅，端点为 `/[username]/feed.rss`。"
                  },
                  "hide_collections": {
                    "type": "boolean",
                    "description": "隐藏此帐户的关注/粉丝信息。"
                  },
                  "web_visibility": {
                    "type": "string",
                    "description": "Posts to show on the web view of the account.\n\"public\": default, show only Public visibility posts on the web.\n\"unlisted\": show Public *和* Unlisted visibility posts on the web.\n\"none\": show no posts on the web, not even Public ones.\n要在网页端展示的贴文范围。\n\"public\": 默认，只在网页上显示公开的贴文。\n\"unlisted\": 在网页上显示可见性为公开 *和* 不列出的贴文。\n\"none\": 在网页上不显示任何贴文，甚至不显示公开的贴文。"
                  },
                  "fields_attributes[0][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第一个资料字段的名称。 （索引可以是任何字符串；添加更多索引以发送更多字段。）"
                  },
                  "fields_attributes[0][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第一个资料字段的值。 （索引可以是任何字符串；添加更多索引以发送更多字段。）"
                  },
                  "fields_attributes[1][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第二个资料字段的名称。"
                  },
                  "fields_attributes[1][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第二个资料字段的值。"
                  },
                  "fields_attributes[2][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第三个资料字段的名称。"
                  },
                  "fields_attributes[2][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第三个资料字段的值。"
                  },
                  "fields_attributes[3][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第四个资料字段的名称。"
                  },
                  "fields_attributes[3][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第四个资料字段的值。"
                  },
                  "fields_attributes[4][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第五个资料字段的名称。"
                  },
                  "fields_attributes[4][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第五个资料字段的值。"
                  },
                  "fields_attributes[5][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第六个资料字段的名称。"
                  },
                  "fields_attributes[5][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第六个资料字段的值。"
                  }
                }
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "discoverable": {
                    "type": "boolean",
                    "description": "账户是否可被发现，并在用户名录中显示。"
                  },
                  "bot": {
                    "type": "boolean",
                    "description": "账户被标记为机器人。"
                  },
                  "display_name": {
                    "type": "string",
                    "description": "账户的昵称。"
                  },
                  "note": {
                    "type": "string",
                    "description": "账户的简介。"
                  },
                  "avatar": {
                    "type": "string",
                    "description": "账户的头像。",
                    "format": "binary"
                  },
                  "avatar_description": {
                    "type": "string",
                    "description": "账户的头像描述，用于 alt 文本。"
                  },
                  "header": {
                    "type": "string",
                    "description": "用户的资料页横幅背景。",
                    "format": "binary"
                  },
                  "header_description": {
                    "type": "string",
                    "description": "用户资料页横幅背景的描述，用于 alt 文本。"
                  },
                  "locked": {
                    "type": "boolean",
                    "description": "关注请求需要手动批准。"
                  },
                  "source[privacy]": {
                    "type": "string",
                    "description": "撰写的贴文的默认可见性。"
                  },
                  "source[sensitive]": {
                    "type": "boolean",
                    "description": "将撰写的贴文默认标记为敏感。"
                  },
                  "source[language]": {
                    "type": "string",
                    "description": "撰写的贴文的默认语言 (ISO 6391)。"
                  },
                  "source[status_content_type]": {
                    "type": "string",
                    "description": "撰写的贴文的默认内容类型 (text/plain 或 text/markdown)。"
                  },
                  "theme": {
                    "type": "string",
                    "description": "渲染此帐户的资料页或贴文时要使用的主题的文件名。主题必须存在于此服务器上，如 /api/v1/accounts/themes 所示。空字符串意味着取消主题偏好并回退到 GoToSocial 默认主题。"
                  },
                  "custom_css": {
                    "type": "string",
                    "description": "渲染此帐户的资料页或贴文时要使用的自定义 CSS。字符串长度不能超过 5,000 个字符（~5kb）。"
                  },
                  "enable_rss": {
                    "type": "boolean",
                    "description": "为此帐户的公开贴文启用 RSS 订阅，端点为 `/[username]/feed.rss`。"
                  },
                  "hide_collections": {
                    "type": "boolean",
                    "description": "隐藏此帐户的关注/粉丝信息。"
                  },
                  "web_visibility": {
                    "type": "string",
                    "description": "Posts to show on the web view of the account.\n\"public\": default, show only Public visibility posts on the web.\n\"unlisted\": show Public *和* Unlisted visibility posts on the web.\n\"none\": show no posts on the web, not even Public ones.\n要在网页端展示的贴文范围。\n\"public\": 默认，只在网页上显示公开的贴文。\n\"unlisted\": 在网页上显示可见性为公开 *和* 不列出的贴文。\n\"none\": 在网页上不显示任何贴文，甚至不显示公开的贴文。"
                  },
                  "fields_attributes[0][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第一个资料字段的名称。 （索引可以是任何字符串；添加更多索引以发送更多字段。）"
                  },
                  "fields_attributes[0][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第一个资料字段的值。 （索引可以是任何字符串；添加更多索引以发送更多字段。）"
                  },
                  "fields_attributes[1][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第二个资料字段的名称。"
                  },
                  "fields_attributes[1][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第二个资料字段的值。"
                  },
                  "fields_attributes[2][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第三个资料字段的名称。"
                  },
                  "fields_attributes[2][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第三个资料字段的值。"
                  },
                  "fields_attributes[3][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第四个资料字段的名称。"
                  },
                  "fields_attributes[3][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第四个资料字段的值。"
                  },
                  "fields_attributes[4][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第五个资料字段的名称。"
                  },
                  "fields_attributes[4][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第五个资料字段的值。"
                  },
                  "fields_attributes[5][name]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第六个资料字段的名称。"
                  },
                  "fields_attributes[5][value]": {
                    "type": "string",
                    "description": "要添加到此帐户的资料页的第六个资料字段的值。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "更新后的账户。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "write:accounts"
            ]
          }
        ]
      }
    },
    "/api/v1/accounts/verify_credentials": {
      "get": {
        "tags": [
          "accounts"
        ],
        "summary": "验证令牌",
        "description": "验证令牌并返回与之相关的账户详细信息。",
        "operationId": "accountVerify",
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/account"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "read:accounts"
            ]
          }
        ]
      }
    },
    "/api/v1/admin/accounts": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "查看账户",
        "description": "使用特定的过滤规则查看 + 分页浏览已知的账户。\n\n返回的账户将按域名 + 用户名的字母顺序（a-z）排序。\n\n下一个和上一个查询可以从返回的 Link 标头中解析出来。\n例如：\n\n```\n<https://scg.owu.one/api/v1/admin/accounts?limit=80&max_id=scg.owu.one%2F%40someone>; rel=\"next\", <https://scg.owu.one/api/v1/admin/accounts?limit=80&min_id=scg.owu.one%2F%40someone_else>; rel=\"prev\"\n````",
        "operationId": "adminAccountsGetV1",
        "parameters": [
          {
            "name": "local",
            "in": "query",
            "description": "只显示本站账户的过滤规则。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "remote",
            "in": "query",
            "description": "只显示外站账户的过滤规则。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "active",
            "in": "query",
            "description": "只显示当前活跃的账户的过滤规则。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "pending",
            "in": "query",
            "description": "只显示当前待处理的账户的过滤规则。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "disabled",
            "in": "query",
            "description": "只显示当前被禁用的账户的过滤规则。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "silenced",
            "in": "query",
            "description": "只显示当前被静音的账户的过滤规则。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "suspended",
            "in": "query",
            "description": "只显示当前被封禁的账户的过滤规则。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "sensitized",
            "in": "query",
            "description": "只显示当前被强制标记为敏感的账户的过滤规则。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "username",
            "in": "query",
            "description": "搜索给定的用户名。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "display_name",
            "in": "query",
            "description": "搜索给定的昵称。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "by_domain",
            "in": "query",
            "description": "搜索给定的域名。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "email",
            "in": "query",
            "description": "搜索具有给定电子邮箱的用户。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ip",
            "in": "query",
            "description": "搜索具有给定 IP 地址的用户。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "staff",
            "in": "query",
            "description": "搜索工作人员账户。",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "max_id",
            "in": "query",
            "description": "`[domain]/@[username]` 中的 `max_id`。返回的所有结果都将在 `[domain]/@[username]` 之后的字母顺序中。例如，如果 `max_id` = `scg.owu.one/@someone`，则返回的条目可能包含 `scg.owu.one/@someone_else`、`later.scg.owu.one/@someone` 等。在此形式中，本站帐户 ID 使用空字符串作为 `[domain]` 部分，例如具有用户名 `someone` 的本地帐户将是 `/@someone`。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_id",
            "in": "query",
            "description": "`[domain]/@[username]` 中的 `min_id`。返回的所有结果都将在 `[domain]/@[username]` 之前的字母顺序中。例如，如果 `min_id` = `scg.owu.one/@someone`，则返回的条目可能包含 `scg.owu.one/@earlier_account`、`earlier.scg.owu.one/@someone` 等。在此形式中，本站帐户 ID 使用空字符串作为 `[domain]` 部分，例如具有用户名 `someone` 的本地帐户将是 `/@someone`。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "要返回的最大结果数。",
            "schema": {
              "maximum": 200,
              "minimum": 1,
              "type": "integer",
              "default": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "headers": {
              "Link": {
                "description": "下一/上一查询的链接。",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/adminAccountInfo"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "403": {
            "description": "forbidden 禁止",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/v1/admin/accounts/{id}": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "查看单个账户",
        "description": "查看一个账户。",
        "operationId": "adminAccountGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "账户的 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adminAccountInfo"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "403": {
            "description": "forbidden 禁止",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/v1/admin/accounts/{id}/action": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "执行管理操作",
        "description": "对某个账户执行管理员操作。",
        "operationId": "adminAccountAction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "账户的 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "type"
                ],
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "要执行的操作类型，目前仅支持 `suspend`。"
                  },
                  "text": {
                    "type": "string",
                    "description": "描述执行此操作的原因的文本，可不填。"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {}
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "403": {
            "description": "forbidden 禁止",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "409": {
            "description": "冲突: 已经有一个与此操作冲突的管理员操作正在执行。查看响应正文中的错误消息以获取更多信息。这是一个临时错误; 如果稍后再试一次，应该可以处理此操作。",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/v1/admin/accounts/{id}/approve": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "批准账户",
        "description": "批准待处理的账户。",
        "operationId": "adminAccountApprove",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "账户的 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "被批准后的账户。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adminAccountInfo"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "403": {
            "description": "forbidden 禁止",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/v1/admin/accounts/{id}/reject": {
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "拒绝账户",
        "description": "拒绝待处理的账户。",
        "operationId": "adminAccountReject",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "账户的 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "private_comment": {
                    "type": "string",
                    "description": "用于说明为什么拒绝此账户的评论。评论仅对管理员可见。"
                  },
                  "message": {
                    "type": "string",
                    "description": "要包含在发送给申请人的电子邮件中的消息。仅在 send_email 为 true 时包含。"
                  },
                  "send_email": {
                    "type": "boolean",
                    "description": "向申请人发送一封电子邮件，告知他们的注册已被拒绝。"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "被拒绝的账户。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adminAccountInfo"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "403": {
            "description": "forbidden 禁止",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/v1/admin/custom_emojis": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "查看表情",
        "description": "下一个/上一个查询可以从返回的 Link 标头中解析。\n例如：\n\n`<http://localhost:8080/api/v1/admin/custom_emojis?limit=30&max_shortcode_domain=yell@fossbros-anonymous.io&filter=domain:all>; rel=\"next\", <http://localhost:8080/api/v1/admin/custom_emojis?limit=30&min_shortcode_domain=rainbow@&filter=domain:all>; rel=\"prev\"`",
        "operationId": "emojisGet",
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "查看本站表情和已知的外站表情。\n\n要应用到结果中的过滤规则列表，以逗号分隔。可被识别的过滤规则有：\n\n`domain:[domain]` -- 显示给定域名下的表情，例如 `?filter=domain:scg.owu.one` 将只显示 `scg.owu.one` 的表情。\n除了给定特定域名外，还可以给出关键字 `local` 或 `all`，以仅显示本站表情 (`domain:local`) 或显示所有实例的所有表情 (`domain:all`)。\n注意：`domain:*` 等同于 `domain:all`（包括本站）。\n如果未提供域名过滤规则，则将假定 `domain:all`。\n\n`disabled` -- 包括已禁用的表情。\n\n`enabled` -- 包括已启用的表情。\n\n`shortcode:[shortcode]` -- 仅显示给定的表情代码，例如 `?filter=shortcode:blob_cat_uwu` 将仅显示表情代码为 `blob_cat_uwu` 的表情（区分大小写）。\n\n如果未提供 `disabled` 或 `enabled`，则将同时显示已禁用和已启用的表情。\n\n如果未提供过滤规则，则将使用默认的 `domain:all`，它将显示所有实例的所有表情。",
            "schema": {
              "type": "string",
              "default": "domain:all"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "要返回的表情数量。小于 1 或未设置表示无限制（所有表情）。",
            "schema": {
              "maximum": 200,
              "minimum": 0,
              "type": "integer",
              "default": 50
            }
          },
          {
            "name": "max_shortcode_domain",
            "in": "query",
            "description": "只返回比给定 `[shortcode]@[domain]` *更低*（按字母顺序）的表情。例如，如果 `max_shortcode_domain=beep@scg.owu.one`，则返回的值可能包括 `[shortcode]@[domain]` 为 `car@scg.owu.one`, `debian@aaa.com`, `test@` (本站表情) 等。\n具有给定 `[shortcode]@[domain]` 的表情将不包含在结果集中。",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "min_shortcode_domain",
            "in": "query",
            "description": "只返回比给定 `[shortcode]@[domain]` *更高*（按字母顺序）的表情。例如，如果 `max_shortcode_domain=beep@scg.owu.one`, 则返回的值可能包括 `[shortcode]@[domain]` 为 `arse@test.com`, `0101_binary@hackers.net`, `bee@` (本站表情) 等。\n具有给定 `[shortcode]@[domain]` 的表情将不包含在结果集中。",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "表情数组，按表情代码和域名字母顺序排列。",
            "headers": {
              "Link": {
                "description": "下一/上一查询的链接。",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/adminEmoji"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "403": {
            "description": "forbidden 禁止",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        }
      },
      "post": {
        "tags": [
          "admin"
        ],
        "summary": "创建表情",
        "description": "上传和创建一个新的实例表情。",
        "operationId": "emojiCreate",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "image",
                  "shortcode"
                ],
                "type": "object",
                "properties": {
                  "shortcode": {
                    "pattern": "\\w{2,30}",
                    "type": "string",
                    "description": "此表情的代码，将被实例居民用于选定对应表情。此代码在实例上必须是唯一的。"
                  },
                  "image": {
                    "type": "string",
                    "description": "此表情的 png 或 gif 图像。动画 png 也可以！为了确保与其他 fedi 实现的兼容性，默认情况下表情大小限制为 50kb。",
                    "format": "binary"
                  },
                  "category": {
                    "type": "string",
                    "description": "此表情所属的类别。如果留空，表情将不属于任何类别。如果给定的类别名称尚不存在，则将创建该类别。"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "新创建的表情。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/emoji"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "403": {
            "description": "forbidden 禁止",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "409": {
            "description": "冲突 -- 此表情的代码已被使用",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/v1/admin/custom_emojis/{id}": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "查看表情",
        "description": "在管理视图中查看单个表情。",
        "operationId": "emojiGet",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "表情的 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "单个表情。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adminEmoji"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "403": {
            "description": "forbidden 禁止",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        }
      },
      "delete": {
        "tags": [
          "admin"
        ],
        "summary": "删除表情",
        "description": "在此实例删除一个 **本地** 表情。\n\n给定 ID 的表情将不再在此实例上可用。\n\n如果您只想更新表情图像，请使用 `/api/v1/admin/custom_emojis/{id}` PATCH 路由。\n\n要禁用 **外站** 实例的表情，请使用 `/api/v1/admin/custom_emojis/{id}` PATCH 路由。",
        "operationId": "emojiDelete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "表情的 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "被删除的表情将被返回给调用者，以便进一步处理。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adminEmoji"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "403": {
            "description": "forbidden 禁止",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "admin"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "admin"
        ],
        "summary": "修改表情",
        "description": "对一个 **本站** 或 **外站** 表情执行管理操作。\n\n要执行的操作取决于提供的操作类型 `type` 参数。\n\n`disable`: 禁用一个 **外站** 表情，使其无法在此实例上使用/显示。不适用于本站表情。\n\n`copy`: 将 **外站** 表情复制到此实例。执行此操作时，必须提供一个表情代码，并且它必须在此实例上已有的表情中是唯一的。可以提供一个类别，然后复制的表情将被放入提供的类别中。\n\n`modify`: 修改一个 **本站** 表情。您可以为表情提供一个新的图像和/或更新类别。\n\n本站表情不能使用此端点删除。要删除本站表情，请查看 DELETE /api/v1/admin/custom_emojis/{id}。",
        "operationId": "emojiUpdate",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "表情的 ID。",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "type"
                ],
                "type": "object",
                "properties": {
                  "type": {
                    "type": "string",
                    "description": "要执行的操作类型。需为下列其中之一：(`disable`, `copy`, `modify`)。\n对于 **外站** 表情，支持 `copy` 或 `disable`。\n对于 **本站** 表情，仅支持 `modify`。",
                    "enum": [
                      "copy",
                      "disable",
                      "modify"
                    ]
                  },
                  "shortcode": {
                    "pattern": "\\w{2,30}",
                    "type": "string",
                    "description": "用于表情的代码，将被实例居民用于选定表情。此代码在实例上必须是唯一的。仅适用于 `copy` 操作类型。"
                  },
                  "image": {
                    "type": "string",
                    "description": "此表情的新 png 或 gif 图像。动画 png 也可以！为了确保与其他 fedi 实现的兼容性，默认情况下表情大小限制为 50kb。仅适用于 **本站** 表情。",
                    "format": "binary"
                  },
                  "category": {
                    "type": "string",
                    "description": "表情所属的类别。如果尚不存在具有给定名称的类别，则将创建该类别。仅适用于 `copy` 和 `modify` 操作类型。"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "更新后的表情。",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adminEmoji"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "403": {
            "description": "forbidden 禁止",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/v1/admin/custom_emojis/categories": {
      "get": {
        "tags": [
          "admin"
        ],
        "summary": "查看表情类别",
        "description": "获取现有表情类别的列表。",
        "operationId": "emojiCategoriesGet",
        "responses": {
          "200": {
            "description": "现有表情类别的数组。",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/emojiCategory"
                  }
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "403": {
            "description": "forbidden 禁止",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        }
      }
    },
    "/api/v1/admin/debug/apurl": {
      "get": {
        "tags": [
          "debug"
        ],
        "summary": "解析 ActivityPub URL",
        "description": "对指定的 ActivityPub URL 执行 GET 请求，并返回详细的调试信息。仅当 GoToSocial 使用 DEBUG=1 标志构建和运行时才启用/公开。",
        "operationId": "debugAPUrl",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "要解析的 URL 或 ActivityPub ID。 如 `https://scg.owu.one/users/someone`",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/debugAPUrlResponse"
                }
              }
            }
          },
          "400": {
            "description": "bad request 无效请求",
            "content": {}
          },
          "401": {
            "description": "unauthorized 未授权",
            "content": {}
          },
          "404": {
            "description": "not found 未找到",
            "content": {}
          },
          "406": {
            "description": "not acceptable 不可接受",
            "content": {}
          },
          "500": {
            "description": "internal server error 服务器内部错误",
            "content": {}
          }
        },
        "security": [
          {
            "OAuth2 Bearer": [
              "admin"
            ]
          }
        ]
      }
    },
    "/api/v1/admin/debug/caches/clear": {
      "post": {
[...]
